<div class="upcomingcall_container">
    <div class="oneblock">
        <span class="item_title check_period_title">Alert me in advance of an upcoming call in</span>
        <form data-dojo-attach-point="periodType">
            <input name="contentType" type="checkbox"  data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="ONE" value="1" />&nbsp;1&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox"  data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="TWO" value="2" />&nbsp;2&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="THREE" value="3" />&nbsp;3&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="FOUR" value="4" />&nbsp;4&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="FIVE" value="5" />&nbsp;5&nbsp;&nbsp;&nbsp;
            <span>day(s)</span>
        </form>
    </div>
</div>