<div class="closeoutcall_container">
    <div class="oneblock">
        <span class="item_title">Alert me when an opportunity has been 'won' for more than</span>
        <input data-dojo-attach-point="PeriodTextBox" type="text" class="inputDay"
                promptMessage="Minimum 1 day and maximum 180 days"
                onmouseover="dijit.Tooltip.defaultPosition=['above']"
                constraints="{min:1,max:180}" required
                data-dojo-type="dijit.form.NumberTextBox"
                invalidMessage="Minimum 1 day and maximum 180 days" />
        <span> day(s)</span>, but no 'close out call' happened
    </div>
    <div style="border-bottom:1px dashed #808080;width: 281px; margin-top:10px" data-dojo-attach-point="dashedLine"></div>
    <div class="oneblock">
        <span class="item_title">And if the amount is&nbsp;&nbsp;</span>
        <div class="item_one_row">
            <div data-dojo-attach-point="operatorSelect" class="operatorSelect" data-dojo-type="pa/widgets/CustomSelector/CustomSelector" data-dojo-props="data:{defaultItem:{'label': 'more than or exactly','value': 'IS_GREATER_OR_EQUAL'},listItems:[{'label': 'more than or exactly','value': 'IS_GREATER_OR_EQUAL'},{'label': 'less than or exactly','value': 'IS_LESS_OR_EQUAL'}]}">
            </div>
            <span class="dollar">&nbsp;&nbsp;$&nbsp;&nbsp;</span>
            <input data-dojo-attach-point="amountTextBox" constraints="{min:0,max:10000000000}" required type="text" data-dojo-type="dijit/form/NumberTextBox" class="inputAmount" value="0"/>
        </div>
    </div>
</div>