<div>
    <div data-dojo-attach-point="groupHeader" class="item_header">
        <div class="rule_desc">
            <div class="icon-inactive_alert icon-active_alert hidden" data-dojo-attach-point="icon_pause"></div>
            <div class="icon-inactive_alert hidden" data-dojo-attach-point="icon_resume"></div>
            <div class="rule_left">
                <div class="rule_name" data-dojo-attach-point="ruleName"></div>
            </div>
            <div class="rule_function" data-dojo-attach-point ="rule_function" >
	            <div class="rule_action icon-delete" data-dojo-attach-point="icon_delete"></div>
	            <div class="rule_action icon-edit-graphic" data-dojo-attach-point="edit_rule_action"></div>
            </div>
            <div class="rule_function_special" data-dojo-attach-point ="rule_function_special" >
                <div class="rule_action-special icon-delete" data-dojo-attach-point="icon_delete_special"></div>
                <div class="rule_action-special icon-edit-graphic" data-dojo-attach-point="edit_rule_action_special"></div>
            </div>
        </div>
    </div>
    
</div>