<div class="expiryauthorizationsocial_container">
	<div class="oneblock">
		<span class="item_title">Notify me of expiring LinkedIn authorization in</span>
		<input data-dojo-attach-point="PeriodTextBox" type="text" class="inputDay"
				promptMessage="Maximum 30 days"
				onmouseover="dijit.Tooltip.defaultPosition=['above']"
				constraints="{min:1,max:30}"
				required="true"
				dojoType="dijit.form.NumberTextBox"
				invalidMessage="Maximum 30 days" 
				placeholder=""/>
		<span> days.</span><br>
	</div>
	<div>
		<form data-dojo-attach-point="linkType" class="channels" style="margin-bottom: -6px">
			<!-- <div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="LinkedIn" value="LinkedIn" checked/>&nbsp;LinkedIn</div>
		    <div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="Google" value="Google" disabled/>&nbsp;Google+</div>
			<div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="Facebook" value="Facebook" disabled/>&nbsp;Facebook</div>
			<div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="Weibo" value="Weibo" disabled/>&nbsp;Weibo</div>
			<div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="YouTube" value="YouTube" disabled/>&nbsp;YouTube</div>
			<div class="channels_item"><input name="linkType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="Xing" value="Xing" disabled/>&nbsp;Xing</div> -->
  		</form>
	</div>
</div>