<div class="editrule_container">	
	<div data-dojo-attach-point="groupContent" class="item_content">
	    <div style="border-bottom:1px solid #dcd6d6;width: 283px;"></div>
	    <div data-dojo-attach-point="groupHeader" class="item_header">
	        <div class="rule_desc">
		        <div class="icon-inactive_alert icon-active_alert hidden" data-dojo-attach-point="icon_pause"></div>
	            <div class="icon-inactive_alert hidden" data-dojo-attach-point="icon_resume"></div>
	            <div class="rule_left">
	                <div class="rule_name" data-dojo-attach-point="ruleName"></div>
	            </div>
	            <div class="rule_function">
	                <div class="rule_action icon-delete" data-dojo-attach-point="icon_editdelete"></div>
	                <div class="rule_action icon-copy-idle" data-dojo-attach-point="icon_copy"></div>
	            </div>
	        </div>
        </div>
        <div data-dojo-attach-point="ruleNameCon" class="rule_name_widgetContainer"></div>
        <div data-dojo-attach-point="ruleTypeConFirst" class="rule_type_widgetContainer_first"></div>
        <div data-dojo-attach-point="ruleTypeConSecond" class="rule_type_widgetContainer_second"></div>
        <div data-dojo-attach-point="errorMessage" class="hidden color_red errorMessage">Required</div>
        
        <div class="rule_type_btnContainer">
            <button data-dojo-attach-point='resetEditRule' class="cancel_button">CANCEL</button>
            <button data-dojo-attach-point='saveEditRule'>SAVE</button>
            
        </div>
    </div>
</div>	
	
