<div class="pa_container pa_popup">
	<div class="pa_popup_con pa_popup_message">
		<div class="mainview">
			<!-- <div class="pa_popup_con_subtitle">Set preset alert rule - Expired Page Manager content</div> 
			<br>-->
			<div class="pa_popup_con_subcontent">Choose "Set rule" to receive email alerts when Page
				Manager content (including messages, events, videos) will expire in
				7 days.</div>
		</div>
	<div class="pa_popup_btngroup">
		<a class="setBtn">Set rule</a>
		<a class="igBtn">Ignore</a>
	</div>
</div>