<div class="pa_container pa_popup">
	<div class="pa_popup_con pa_popup_message">
		<div class="mainview">
			<div class="pa_popup_con_subtitle">You have been identified as
				an S&S / Renewals Rep. <span style='font-weight:normal'>If this is incorrect, <a class="clickHere">click here</a>.</span>
				</div>
			<br>
			<div class="pa_popup_con_subcontent">We hope you will take advantage of the preset RMT alerts that
				have been customized for you. </div>
			<br>
			<div class="pa_popup_con_subcontent">By choosing "Set alerts" you will
				start receiving email alerts when a call back is due or when your
				orders get booked in RMT.</div>
		</div>
	</div>
	<div class="pa_popup_btngroup">
		<a class="setBtn">Set alerts</a>
		<a class="igBtn">Ignore</a>
	</div>
</div>