<div class="pa_container pa_popup">
	<strong class="pa_popup_title">Message from Proactive Alerts</strong>
	<div class="pa_popup_con">
		<!-- <div class="pa_popup_con_subtitle">Preset alert rule - Expiry of
			IBM authorization for social links</div>
		<br> -->
		<div>A preset expiry of IBM authorization for social links rule
			has been added for you. It will notify you when the authorization of
			social links expires. No action necessary to enable this alert.</div>
		<!-- <br>
		<div>To edit or disable this alert rule, from  the <b>MY ALERTS</b> menu at the upper right, select <b>View and edit rules</b>.</div> -->
	</div>
	<div class="pa_popup_btngroup">
		<span class="closeBtn icon-delete"></span>
		<div data-dojo-attach-point="alertsLink" style="margin-left:-208px;" class="popup_sales_link"><a>Get started</a></div>
	</div>
</div>