<div class="pa_container pa_popup">
	<strong class="pa_popup_title">Message from Proactive Alerts</strong>
	<div class="pa_popup_con">A preset SalesConnect rule has been
		added for you. It will notify you when an opportunity has not been
		updated in 14 days.</div>
	<!-- <div class="pa_popup_con">To edit or disable this alert rule, from  the <b>MY ALERTS</b> menu at the upper right, select <b>View and edit rules</b>.</div> -->
	<div class="pa_popup_btngroup">
		<span class="closeBtn icon-delete"></span>
		<div data-dojo-attach-point="alertsLink" style="margin-left:-208px;" class="popup_sales_link"><a>Get started</a></div>
	</div>
</div>
