<div class="pa_container pa_popup">
	<div class="pa_popup_con pa_popup_message">
		<div class="mainview">
			<div class="pa_popup_con_subcontent">Choose 'Set rule' to receive email alerts of upcoming SalesConnect call(s).</div>
		</div>
		<div class="setview hidden">Thank you for activating preset proactive
			alerts. The additional upcoming call alert rule has
			been created for you.
		 <br></div>
		<div class="igview hidden">To get Upcoming Call
			information in the future, turn on preset alert rule
			"<span style='font-weight:bold'>Upcoming Call</span>" by clicking or&nbsp; tapping the grey checkmark (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="icon-inactive_alert icon_upcomingcall"></div>) which will turn green when the alert rule is active.</div>
	</div>
	<div class="pa_popup_btngroup">
		<a class="setBtn">Set rule</a>
		<a class="igBtn">Ignore</a>
	</div>
</div>