/**    
 *   module style    
 *   container name pa_container    
 */    
.pa_container{
    background-color: white;
    overflow: hidden;
    color: #404040;
}
.pa_width{
    height: 100% !important;
      width: 100% !important;
}
.pa_container .border_container{
    height: 100% !important;
      width: 100% !important;
}

.pa_container .pa_container_title {
    /* height:70px; */
    width: 100%;
}

.pa_container .pa_container_title_btn_con {
    height: 40px;
    font-size: 30px;
    color: #00b0da;
}

.pa_container .hidden {
    display: none !important;
}

.pa_container .vhidden {
    visibility: hidden;
}

.pa_container .pa_container_title_btn_con .pa_container_clear_all_alerts_btn {
    position: absolute;
    left: 234px;
    top: 21px;
    cursor: pointer;
}
.pa_container .pa_container_title_btn_con .pa_container_title_btn {
    
/*     background: -webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#DBDBDB) );
    background: -moz-linear-gradient(top, whiteSmoke, #DBDBDB);
    
    box-shadow: 0px 2px 3px #6E6E6E;
    -webkit-box-shadow: 0px 2px 5px #6E6E6E;
    -moz-box-shadow: 0px 2px 3px #6E6E6E;
    
    border: 1px solid #DBDBDB;
    -moz-border-radius: 5px;      Gecko browsers
    -webkit-border-radius: 5px;   Webkit browsers
    border-radius:5px;            W3C syntax */
    position: absolute;
    left: 275px;
    top: 21px;
    cursor: pointer;
}

.pa_container .pa_container_title_text_con_text,
.pa_container .pa_container_title_text_con_rule_text {
    font-size: 13px;
   /*  font-weight: bolder; */
    font-family:Helvetica Neue Medium for IBM;
    color: black;
}

.pa_container .pa_container_title_text_con_count {
    font-size: 40px;
}

.pa_container .pa_container_title_text_con {
    /* line-height: 50px; */
    height: 50px;
    overflow: hidden;
    margin: 0 30px;
    float: left;
    padding-top:30px;
}

.pa_container .pa_container_title_text_con_count {
    float: right;
}

.pa_container .pa_font_blue {
    color: #00B0DA;
}

.pa_container .pa_font_bolder {
    font-weight: bolder;
}

.pa_container.pa_popup_clear_all .button{
    height: 44px;
    width: 100px;
    background-color: #00b0da;
    float: left;
    color: #fff;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    font-family: Helvetica Neue Medium for IBM;
}
.pa_container.pa_popup_clear_all .noBtn {
    border: 1px solid #00b0da;
    background: none;
    color: #00b0da;
}
.pa_container.pa_popup_clear_all .button:hover{
    background-color: #008ABF;
    color: #fff;
} 
.pa_container .button {
/*     cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#DBDBDB) );
    background: -moz-linear-gradient(top, whiteSmoke, #DBDBDB);
    box-shadow: 0px 2px 3px #6E6E6E;
    -webkit-box-shadow: 0px 2px 5px #6E6E6E;
    -moz-box-shadow: 0px 2px 3px #6E6E6E;
    border: 1px solid #DBDBDB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; */
    
    height: 44px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 10px;
    background-color: #00b0da;
    min-width: 60px;
    float: left;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    font-family:Helvetica Neue Medium for IBM;
}
.pa_popup_frame .pa_popup{
    width: 237px;
    height: auto;
    margin-top: 18px;
    margin-left: 30px;
}
.pa_popup {
    width: 300px;
    height: 255px;
}

.pa_popup .hidden{
    display: none;
}

.pa_dialog {
    height: 100px;
    background-color: #f0f0f0;
}

.pa_dialog .yesBtn {
    width:95px;
}
.pa_popup .yesBtn:hover{
    background-color: #008ABF;
} 
.pa_dialog .noBtn {
	margin-left: 40px;
    width:95px;
    border: 1px solid #00b0da;
    background: none;
    color: #00b0da;
}
.pa_popup .noBtn:hover{
    background-color: #008ABF;
    color: #fff;
} 
.pa_popup_frame .pa_popup .pa_popup_title {
    text-align: left;
    padding: 0px 5px 5px 12px;
    color:black;
}

.pa_popup .pa_popup_title {
    text-align: center;
    /* font-weight: bold; */
    padding: 15px 5px 5px 5px;
    font-size:13px;
}
.pa_popup .pa_popup_con{
    margin:12px;
    color: #404040;
}
.pa_popup .pa_popup_con.pa_popup_message{
    margin:0 12px 12px 12px;
}
.pa_function_menu {
    padding: 3px 0px;
}
.pa_function_menu a {
    color: #666666;
    /* font-size: 15px; */
}
.pa_popup_frame .pa_popup .pa_popup_btngroup {
    bottom: 20px;
    right: 10px;
    float: right;
    margin-right: 15px;
    margin-bottom: 12px;
    margin-top: 8px;
}

.pa_popup .pa_popup_btngroup .setBtn{
    border: medium none;
    height: 30px;
    margin-right: 20px;
}

.pa_popup .pa_popup_btngroup .igBtn{
    border: medium none;
    height: 30px;
    width: 70px;
}
.pa_popup .pa_popup_con_subtitle {
    /* font-weight: bolder; */
    color: #404040;
}
.pa_popup .pa_popup_con_subcontent {
    color: #404040;
}

.pa_popup .pa_popup_con_subtitle .clickHere {
    color:#00b0da;
    /* font-weight: bolder; */
}

.pa_main_menu .pa_function_menu .notOptionalItem{
    cursor: default;
    color: #D6D2D2;
}
.pa_container .iScrollIndicator {
  background: #999999 !important;
  border: none !important;
  border-radius: 0px !important;
}

.pa_container .iScrollVerticalScrollbar{
  right: 5px !important;
  /* top: 0px !important; */
  bottom: 0px !important;
  background-color: #d3d3d3 !important;
  /* border-left: 1px solid #808080 !important; */
  width: 4px !important;
}
.pa_container .wrapper {
  position: relative;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.pa_container .scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;*/
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
} 
cite{
    font-style:normal;
}
.pa_popuptop{
    top: 50% !important;
}
.pa_popuptop_clear_all{
    top: 30% !important;
    left:35% !important;
}

.pa_popuptop .dijitTooltipContainer{
    background-color: #f0f0f0;
}
.pa_popup .icon-delete{
    font-size: 30px;
    color:#00b0da;
    cursor: pointer;
    position: absolute;
    left: 287px;
    top: 5px;
}
.pa_popup_clear_all{
    height: 222px;
    width: 414px;
}
.pa_popup_clear_all .pa_popup_con{
    margin-left: 88px
}
.pa_popup_clear_all .icon-delete{
    font-size: 30px;
    color:#00b0da;
    cursor: pointer;
    position: absolute;
    left: 385px;
    top: 20px;
}
.pa_container.pa_popup_clear_all .pa_popup_title{
     margin-top: 70px;
     margin-left: 70px;
     color: #808080;
}
.pa_container .pa_container_title_btn .icon-menu-idle{
    cursor: pointer;
    display: block;
    font-size: 30px;
    margin-top: 6px;
}
.pa_container .customSelector{
    width: 280px;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    box-sizing: border-box;
}
.pa_container .icon-expand-graphic{
    font-size: 30px;
    color:#00b0da;
    position: relative;
    float: right !important;
    right: 0px;
    top: 2px;
    cursor: pointer;
}
.pa_container .alertGroup_content .alertGroup_content_detail .icon-bluepages-idle,
.pa_container .alertGroup_content .alertGroup_content_detail .icon-email-idle,
.pa_container .alertGroup_content .alertGroup_content_detail .icon-sasha-button{
	font-size: 30px;
}
/*.pa_container .opptystagechange_container .colon-distance{
	display:inline-block;
	width:14px;
}*/
.pa_container .icon-edit-graphic:before {
    content: "\e924";
}