<div class="closeoutcall_container">
    <div class="oneblock">
        <span class="item_title">Alert me when an opportunity has been transferred to the opportunity owner for </span>
        <input data-dojo-attach-point="PeriodTextBox" type="text" class="inputDay"
                promptMessage="Minimum 1 day and maximum 30 days"
                onmouseover="dijit.Tooltip.defaultPosition=['above']"
                constraints="{min:1,max:30}" required disabled readonly
                data-dojo-type="dijit.form.NumberTextBox"
                invalidMessage="Minimum 1 day and maximum 30 days" />
        <span> day(s)</span>
    </div>
</div>