<div class="alertGroup alertsLineStyle">
    <div style="float:left">
        <table class="alertGroupTable">
            <tr>
                <td>
                    <div class="alertGroup_time" data-dojo-attach-point="alertGroupTime"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="icon-important-alert-graphic" data-dojo-attach-point="alertGroupPriority"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="alertGroup_content" >
        <div class="alertGroup_content_detail height100" data-dojo-attach-point="alertGroupCon"></div>
        <div data-dojo-attach-point="alertGroupDel" class="icon-delete"/></div>
    </div>
</div>
