<div class="touchpointrequiredSaaS_container">
    <div class="oneblock">
        <span class="item_title check_period_title">Alert me when one of my renewals is </span>
        <form data-dojo-attach-point="periodType">
            <input name="contentType" type="checkbox"  data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="ONE" value="180" />&nbsp;180&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox"  data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="TWO" value="120" />&nbsp;120&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="THREE" value="90" />&nbsp;90&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="FOUR" value="60" />&nbsp;60&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="FIVE" value="30" />&nbsp;30&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="SIX" value="15" />&nbsp;15&nbsp;&nbsp;&nbsp;
            <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="SEVEN" value="0" />&nbsp;0
            <span>days from the decision date</span>
        </form>
    </div>
</div>