<div class="ruleslist_container">	
       <div data-dojo-type="dijit/layout/ContentPane">
           <div class="new_rule_container">
               <div class="title">
                   <div class="new_rule_title pa_font_blue" data-dojo-attach-point="newRuleTitle">&nbsp;Add a new rule<div class="icon-plus-button" data-dojo-attach-point="iconButton"></div></div>
               </div>
           </div>
       </div>
       <div data-dojo-type="dijit/layout/ContentPane">
           <div class="edit_rule_container" data-dojo-attach-point="ruleListCon">
               <div data-dojo-attach-point="listCon" class="content_list"></div>
           </div>
       </div>
</div>	
	
