<div class="copyrule_container">	
	<div data-dojo-attach-point="groupContent" class="item_content">
        <div style="border-bottom:1px solid #dcd6d6;width: 283px;"></div>
        <div data-dojo-attach-point="groupHeader" class="item_header">
            <div class="rule_desc">
                <div class="rule_title">
                    <div class="rule_name" data-dojo-attach-point="ruleName"></div>
                </div>
            </div>
        </div>
         <div class="rule_name_widgetContainer" data-dojo-attach-point="ruleNameCon"></div>
         <div class="rule_type_widgetContainer_first" data-dojo-attach-point="ruleTypeConFirst"></div>
         <div class="rule_type_widgetContainer_second" data-dojo-attach-point="ruleTypeConSecond"></div>
        <div data-dojo-attach-point="errorMessage" class="hidden color_red errorMessage">Required</div>
        
        <div class="rule_type_btnContainer">
            <button data-dojo-attach-point='resetCopyRule' class="cancel_button">CANCEL</button>
            <button data-dojo-attach-point='saveCopyRule'>SAVE</button>
        </div>
    </div>
</div>	
	
