<div class="WarmTransferNeeded_container">
	<span class="item_title check_title">Alert me when a warm transfer is needed for an opportunity and where I am:</span>
	<div class="oneblock">
		
		<div class="oneblock">
       
        <div>
            
            <form data-dojo-attach-point="contentType">
                <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="OI" value="OI" />&nbsp;OI<br/>
                <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="OO" value="OO" />&nbsp;OO<br/>
                <input name="contentType" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="LIO" value="LIO" />&nbsp;LIO
            </form>
        </div>
       </div>
	
	</div>
	
	<div style="border-bottom:1px dashed #808080;width: 281px; margin-top:10px" data-dojo-attach-point="dashedLine"></div>
    <div class="oneblock">
        <div class="item_title check_title">and the sales stage is one or more of the following:</div>
        <div>
            <form data-dojo-attach-point="stageSelect">
                <input name="stageSelectValue" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="S04" value="S04" />&nbsp;Stage 4:&nbsp;Validated/Qualifying<br>
                <input name="stageSelectValue" type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="S05" value="S05" />&nbsp;Stage 5:&nbsp;Qualified/Gaining Agreement<br>
            </form>
        </div>
    </div>
</div>